<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h4>Daud</h4>
            <h5>dxxxxxxxxxxxx@gmail.com</h5>
        </div>
    </div>
    <mat-divider></mat-divider>
    <h4 matSubheader>Pages</h4>
    <a mat-list-item routerLink="/" routerLinkActive="list-item-active"><mat-icon>dashboard</mat-icon>Dashboard</a>
    <a mat-list-item routerLink="account" routerLinkActive="list-item"><mat-icon>settings_applications</mat-icon>Account</a>
    <a mat-list-item routerLink="balance" routerLinkActive="list-item"><mat-icon>account_balance_wallet</mat-icon>Balance</a>
    <a mat-list-item routerLink="loan" routerLinkActive="list-item"><mat-icon>attach_money</mat-icon>Loan</a>
    <a mat-list-item routerLink="cards" routerLinkActive="list-item"><mat-icon>credit_score</mat-icon>Card</a>
    <mat-divider></mat-divider>
    <h4 matSubheader>Tooles</h4>
    <a mat-list-item routerLink="/contact" routerLinkActive="list-item">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLink="/phone" routerLinkActive="list-item">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>
</mat-nav-list>