<mat-drawer-content>
    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
            <form *ngIf="!isLoggedIn" class="example-form" name="form"
                (ngSubmit)="resetForm.valid && onSubmit(resetForm)" #resetForm="ngForm" novalidate>
                <mat-card-header>
                    <mat-card-title>
                        <span class="material-icons">account_circle</span>
                        <span class="sign">Change Password</span>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-card-actions>
                        <mat-form-field class="example-full-width" data-validate="Please new password">
                            <input matInput type="password" name="password" placeholder="New Password" id="password"
                                [(ngModel)]="model.password" minlength="5" #password="ngModel" required>
                        </mat-form-field>
                        <div class="alert alert-danger" role="alert" *ngIf="resetForm.submitted && password.invalid">
                            New Password is required
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="password.hasError('minlength')">
                            New Password must be at least 5 characters
                        </div>
                        <div class="example-button-row">
                            <button mat-stroked-button color="primary" type="submit" class="btn-block">Submit</button>
                        </div>
                    </mat-card-actions>
                    <mat-card-footer>
                        <div class="form-group">
                            <div class="alert alert-danger" role="alert" *ngIf="resetForm.submitted && isLoginFailed">
                                Token: {{ errorMessage }}
                            </div>
                        </div>
                    </mat-card-footer>
                </mat-card-content>
            </form>
        </mat-card>
    </div>
</mat-drawer-content>